<mat-toolbar color="primary">
  <span>{{titulo}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="agregar()">
    {{botonAgregar}}
  </button>
</mat-toolbar>

  <div class="main-body" *ngIf="panelRecomendado">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="filtro($event)" placeholder="Filtro" #input>
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} {{row.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
          <td mat-cell *matCellDef="let row"> {{row.direccion}}</td>
        </ng-container>

        <ng-container matColumnDef="ciudad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
          <td mat-cell *matCellDef="let row"> {{row.ciudad}}</td>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
          <td mat-cell *matCellDef="let row"> {{row.departamento}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaNacimiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaNacimiento| date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let row"> {{row.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="setRecomendado(row)">
              <mat-icon>assignment_turned_in</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay informacion con este filtro "{{input.value}}"</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="main-body" *ngIf="panelTable">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="filtro($event)" placeholder="Filtro" #input>
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} {{row.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
          <td mat-cell *matCellDef="let row"> {{row.direccion}}</td>
        </ng-container>

        <ng-container matColumnDef="ciudad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
          <td mat-cell *matCellDef="let row"> {{row.ciudad}}</td>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
          <td mat-cell *matCellDef="let row"> {{row.departamento}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaNacimiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaNacimiento| date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let row"> {{row.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCliente(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay informacion con este filtro "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>

<div class="main-body" *ngIf="panelCRUD">
  <div mat-dialog-title>
    <h2>Cliente</h2>
  </div>
  <form (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Nombre" [(ngModel)]="cliente.nombre" name="nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" placeholder="Apellido" [(ngModel)]="cliente.apellido" name="apellido">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput type="text" placeholder="Direccion" [(ngModel)]="cliente.direccion" name="direccion">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput type="text" placeholder="Ciudad" [(ngModel)]="cliente.ciudad" name="ciudad">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <input matInput type="text" placeholder="Departamento" [(ngModel)]="cliente.departamento" name="departamento">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput [(ngModel)]="cliente.fechaNacimiento" [ngModelOptions]="{standalone: true}" [matDatepicker]="fechaNacimiento">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
          <mat-datepicker #fechaNacimiento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput type="text" placeholder="Telefono" [(ngModel)]="cliente.telefono" name="telefono">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput type="text" placeholder="Celular" [(ngModel)]="cliente.celular" name="celular">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" [(ngModel)]="cliente.email" name="email">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Cedula Identidad</mat-label>
          <input matInput type="text" placeholder="Cedula Identidad" [(ngModel)]="cliente.cedulaIdentidad" name="cedulaIdentidad">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Libreta Propiedad</mat-label>
          <input matInput type="text" placeholder="Libreta Propiedad" [(ngModel)]="cliente.libretaPropiedad" name="libretaPropiedad">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-icon (click)="mostrarRecomendados()" matPrefix>search</mat-icon>
          <mat-label>Recomendado por </mat-label>
          <input [disabled]="true" matInput type="text" placeholder="Recomendado por " [(ngModel)]="nombreRecomendado" name="recomendadoPor">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Fecha Comienzo</mat-label>
          <input matInput [(ngModel)]="cliente.fechaComienzo" [ngModelOptions]="{standalone: true}" [matDatepicker]="fechaComienzo">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="fechaComienzo"></mat-datepicker-toggle>
          <mat-datepicker #fechaComienzo></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>RUT</mat-label>
          <input matInput type="text" placeholder="RUT" [(ngModel)]="cliente.rut" name="rut">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="Observaciones" [(ngModel)]="cliente.observaciones" [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="closeCRUD()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{cliente.id ? 'Update': 'Save'}}</button>
    </div>
  </form>
</div>
