<mat-toolbar color="primary">
  <span>{{titulo}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="agregar()">
    {{botonAgregar}}
  </button>
</mat-toolbar>

<app-tipo-producto-table></app-tipo-producto-table>

<div class="main-body" *ngIf="!tipoProductoService.tipoProductoTable">
  <div mat-dialog-title>
    <h2>{{tituloFormulario}}</h2>
  </div>
  <form (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Nombre" [(ngModel)]="tipoProductoService.tipoProducto.nombre" name="nombre">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input matInput type="text" placeholder="Descripcion" [(ngModel)]="tipoProductoService.tipoProducto.descripcion" name="descripcion">
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="closeCRUD()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{tipoProductoService.tipoProducto.id ? 'Update': 'Save'}}</button>
    </div>
  </form>
</div>
