<mat-toolbar color="primary">
  <span>{{cotizacionVendedorService.titulo}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="agregar()">
    {{botonAgregar}}
  </button>
</mat-toolbar>

<app-vendedor-table></app-vendedor-table>

<app-producto-table></app-producto-table>

<app-cotizacion-vendedor-table></app-cotizacion-vendedor-table>

<div class="main-body" *ngIf="cotizacionVendedorService.displayCRUD">
  <div mat-dialog-title>
    <h2>{{cotizacionVendedorService.tituloFormulario}}</h2>
  </div>
  <form (ngSubmit)="onFormSubmit()">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-icon (click)="cotizacionVendedorService.mostrarTablaProductos()" matPrefix>search</mat-icon>
        <mat-label>Producto</mat-label>
        <input [disabled]="true" matInput type="text" placeholder="Producto" [(ngModel)]="productoService.producto.nombre" name="producto">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-icon (click)="cotizacionVendedorService.mostrarTablaVendedor()" matPrefix>search</mat-icon>
        <mat-label>Vendedor</mat-label>
        <input [disabled]="true" matInput type="text" placeholder="Producto" [(ngModel)]="vendedorService.vendedor.nombre" name="vendedor">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Vendedor</mat-label>
        <input matInput type="text" placeholder="Vendedor" [(ngModel)]="cotizacionVendedorService.cotizacionVendedor.vendedor" name="vendedor">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Comision nueva</mat-label>
        <input matInput type="text" placeholder="Comision Nueva" [(ngModel)]="cotizacionVendedorService.cotizacionVendedor.comisionNueva" name="comisionNueva">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Comision renovacion</mat-label>
        <input matInput type="text" placeholder="Comision renovacion" [(ngModel)]="cotizacionVendedorService.cotizacionVendedor.comisionRenovacion" name="comisionRenovacion">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Fecha inicio</mat-label>
        <input matInput [(ngModel)]="cotizacionVendedorService.cotizacionVendedor.fechaInicio" [ngModelOptions]="{standalone: true}" [matDatepicker]="fechaInicio">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Fecha fin</mat-label>
        <input matInput [(ngModel)]="cotizacionVendedorService.cotizacionVendedor.fechaFin" [ngModelOptions]="{standalone: true}" [matDatepicker]="fechaFin">
        <mat-datepicker-toggle matIconSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="cotizacionVendedorService.mostrarTablaCotizacionVendedores()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{cotizacionVendedorService.cotizacionVendedor.id ? 'Update': 'Save'}}</button>
    </div>
  </form>
</div>
