<mat-toolbar color="primary">
  <span>{{titulo}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="agregar()">
    {{botonAgregar}}
  </button>
</mat-toolbar>

<app-vendedor-table></app-vendedor-table>

<div class="main-body" *ngIf="!vendedorService.vendedorTable">
  <div mat-dialog-title>
    <h2>{{tituloFormulario}}</h2>
  </div>
  <form (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Nombre" [(ngModel)]="vendedor.nombre" name="nombre">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" placeholder="Apellido" [(ngModel)]="vendedor.apellido" name="apellido">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput type="text" placeholder="Direccion" [(ngModel)]="vendedor.direccion" name="direccion">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput type="text" placeholder="Ciudad" [(ngModel)]="vendedor.ciudad" name="ciudad">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <input matInput type="text" placeholder="Departamento" [(ngModel)]="vendedor.departamento" name="departamento">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput [(ngModel)]="vendedor.fechaNacimiento" [ngModelOptions]="{standalone: true}" [matDatepicker]="fechaNacimiento">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
          <mat-datepicker #fechaNacimiento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput type="text" placeholder="Descripcion" [(ngModel)]="vendedor.celular" name="celular">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Descripcion" [(ngModel)]="vendedor.email" name="email">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="closeCRUD()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{vendedor.id ? 'Update': 'Save'}}</button>
    </div>
  </form>
</div>
