<mat-toolbar color="primary">
  <span>{{titulo}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="agregar()">
    {{botonAgregar}}
  </button>
</mat-toolbar>

<app-companias-tabla></app-companias-tabla>

<div class="main-body" *ngIf="!companiaService.companiaTable">
  <div mat-dialog-title>
    <h2>{{tituloFormulario}}</h2>
  </div>
  <form (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Nombre" [(ngModel)]="companiaService.compania.nombre" name="nombre">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input matInput type="text" placeholder="Descripcion" [(ngModel)]="companiaService.compania.descripcion" name="descripcion">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" [(ngModel)]="companiaService.compania.email" name="email">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput type="text" placeholder="Telefono" [(ngModel)]="companiaService.compania.telfono" name="telefono">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Web</mat-label>
          <input matInput type="text" placeholder="Web" [(ngModel)]="companiaService.compania.web" name="web">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Numero de auxilio</mat-label>
          <input matInput type="text" placeholder="Numero de auxilio" [(ngModel)]="companiaService.compania.numeroAuxilio" name="numeroAuxilio">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="closeCRUD()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{companiaService.compania.id ? 'Update': 'Save'}}</button>
    </div>
  </form>
</div>
